.employees {
  display: inline-block;
  align-items: left;
  flex-basis: 2rem;
  text-align: left;
  font: 16px Georgia, serif;
  margin-top: 1rem;
}

#userListContainer {
  text-align: center;
}

#userList {
  display: inline-block;
  text-align: left;
}

.addEmployee {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.userListSpacer {
  margin-top: 8rem;
}

.termButton {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 5px;
  margin-right: 0.5rem;
}

.termButton::after,
.termButton::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.termButton::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px;
}

.termButton::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}

.termButton:hover {
  cursor: pointer;
  color: white;
}

.deleteButton {
  background: none;
  border: none;
}

#addEmployee {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 14px;
  border: 1px solid transparent;
  border-color: #000;
  color: #000;
  background: transparent;
  font-weight: 800;
  line-height: 30px;
  transition: background, color 0.1s ease-in-out;
  border-radius: 5%;
  margin-right: 0.5rem;
  margin-left: 0.2rem;
  box-shadow: 3px 3px 3px;
}

.link {
  color: #000;
  text-decoration: none;
}

.link:hover {
  color: white;
  text-decoration: none;
}

#addEmployee:hover {
  background-color: #000;
  color: #fff;
}
